.vscode

__pycache__
*.pyc

.config/efm-langserver
.config/op
.config/gcloud
.config/pgcli
.config/simple-update-notifier

.ruff_cache

node_modules

Brewfile.lock.json
package-lock.json


akeyless


*_dnc.*

.DS_Store

.mise.toml

packer
