# custom
*_dnc.*
*.local.*

# general
node_modules
.DS_Store
.mise.toml
.ruff_cache
.swp
.vscode
__pycache__
*.pyc

# lockfiles
Brewfile.lock.json
package-lock.json

# random
akeyless
packer

# .config
!.config
.config/efm-langserver
.config/fish
.config/gcloud
.config/gh
.config/graphite
.config/op
.config/pgcli
.config/simple-update-notifier
.config/temporalio
.config/uv
# aws vpn client
.config/AWS*CLIENT

# claude code
.claude/.update.lock
.claude/cache
.claude/debug
.claude/file-history
.claude/history.jsonl
.claude/ide
.claude/plans
.claude/plugins
.claude/projects
.claude/shell-snapshots
.claude/stats-cache.json
.claude/statsig
.claude/todos
