.vscode

__pycache__
*.pyc

!.config
.config/efm-langserver
.config/op
.config/gcloud
.config/pgcli
.config/simple-update-notifier
.config/fish

# claude code
.claude/projects
.claude/statsig
.claude/todos
.claude/.update.lock

.ruff_cache

node_modules

Brewfile.lock.json
package-lock.json


akeyless


*_dnc.*

.DS_Store

.mise.toml

packer

*.local.*

.swp
